<h1>Catfabulous Election</h1>


<section id="votingBooth" class="voting-booth">
    <article id="champ">
        <img id="champ-pic"/>
        <p>Name : <span  id="champ-name"></span></p>
        <p>Coffee Preference:<span id="champ-coffee-preference"/></p>
        <button id="champ-vote">Vote</button>
    </article>
    <article id="challenger">
        <img id="challenger-pic"/>
        <p>Name : <span  id="challenger-name"></span></p>
        <p>Coffee Preference:<span id="challenger-coffee-preference"/></p>
        <button id="challenger-vote">Vote</button>
    </article>
</section>
<section class="election-results">
    <article id="electionResults">

    </article>
    <button id="newElection">New Election</button>
</section>
<script src="/javascripts/jquery-3.1.0.min.js"></script>
<script src="/javascripts/catfabulous.js"></script>a