<h1>Factorial</h1>
<section id="factorialFrom" class="factorial-demo">
    <div class="factori-demo-form">
        <label>Factorial Limit: <input type="text" id="factorialLimit"/></label>
        <button id="goFigure">Go Figure!</button>
    </div>
    <label id="currentFactorial" class="current-factorial"></label>
</section>
<script src="/es5/factorial-debug.js"></script>